In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objs as go
import plotly.figure_factory as ff


from tqdm import tqdm
from glob import glob
from plotly.offline import iplot
from collections import Counter
from IPython.core.interactiveshell import InteractiveShell


InteractiveShell.ast_node_interactivity = 'all'
pd.options.display.max_columns = 999
%matplotlib inline

In [2]:
paths = glob('./data/*.csv')
paths

['./data/data.csv', './data/preprocess.csv']

In [3]:
df = pd.read_csv(paths[0], header=1)
df.head()
df.describe()
df.info()

,วันที่,เวลา,เพศ,ช่วงอายุ,จำนวนชิ้นงาน,จำนวนหน้าต่อชิ้นงาน,จำนวนหน้ารวม,ต่อชิ้นงาน,ต่อบุคคล,ต่อจำนวนหน้า,ระยะเวลาจัดเตรียม(นาที:วินาที)
0,22/04/2019,8:18,ญ,แม่บ้าน,1,25,25,10.0,10,0.400000,7:0
1,22/04/2019,8:27,ญ,นักศึกษา,1,208,208,114.0,114,0.548077,30:2
2,22/04/2019,8:37,ช,นักศึกษา,1,300,300,150.0,150,0.500000,0:30
3,22/04/2019,12:10,ญ,นักศึกษา,2,300,600,150.0,300,0.500000,0:30
4,22/04/2019,12:19,ญ,นักศึกษา,1,4,4,6.0,6,1.500000,1:06

,จำนวนชิ้นงาน,จำนวนหน้าต่อชิ้นงาน,จำนวนหน้ารวม,ต่อชิ้นงาน,ต่อบุคคล,ต่อจำนวนหน้า
count,38.000000,38.000000,38.000000,38.000000,38.000000,38.000000
mean,4.157895,38.394737,83.789474,19.378947,41.184211,0.600133
std,12.775666,84.601623,219.649864,42.781703,109.191093,0.265835
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.333333
25%,1.000000,3.000000,6.000000,2.000000,4.000000,0.400000
50%,1.000000,7.000000,16.500000,3.000000,9.500000,0.500000
75%,2.000000,25.000000,29.500000,10.000000,12.000000,0.666667
max,80.000000,300.000000,1200.000000,150.000000,600.000000,1.500000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38 entries, 0 to 37
Data columns (total 11 columns):
วันที่                            38 non-null object
เวลา                              38 non-null object
เพศ                               38 non-null object
ช่วงอายุ                          38 non-null object
จำนวนชิ้นงาน                      38 non-null int64
จำนวนหน้าต่อชิ้นงาน               38 non-null int64
จำนวนหน้ารวม                      38 non-null int64
ต่อชิ้นงาน                        38 non-null float64
ต่อบุคคล                          38 non-null int64
ต่อจำนวนหน้า                      38 non-null float64
ระยะเวลาจัดเตรียม(นาที:วินาที)    38 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 3.3+ KB

# Transform

In [4]:
df['ระยะเวลาจัดเตรียม(วินาที)'] = df['ระยะเวลาจัดเตรียม(นาที:วินาที)'].apply(lambda x: float(x.split(':')[0])*60 + float(x.split(':')[-1]))
df = df.drop('ระยะเวลาจัดเตรียม(นาที:วินาที)', axis=1)

In [5]:
df.to_csv('./data/preprocess.csv', index=False)